<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>管理员首页</title>
    <link th:href="@{/css/login.css}" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="wrap flex-c-c">
    <h1>登录</h1>
    <form action="" method="" class="flex-c-c">
        <ul class="select__list">
            <li id="js-usr-rtn" class="select__label ">登录</li>
            <li id="js-usr-new" class="select__label select__label--active">注册</li>
            <li id="js-usr-rst" class="select__label">重置</li>
        </ul>
        <span class="pointer"></span>
        <input type="email" placeholder="邮箱" class="ui-field" id="js-field__email" />
        <input type="password" placeholder="密码" class="ui-field" id="js-field__pass" />
        <input type="password" placeholder="确认密码" class="ui-field" id="js-field__r-pass" />
        <button id="js-btn" class="ui-button --usr-new"></button>
        <span id="hint"></span>
    </form>
</div>
<div style="text-align:center;">
    <p>@ 2018<a href="http://www.gsafety.com/contact.aspx" target="_blank">北京辰安科技股份有限公司</a></p>
</div>
<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/layer/layer.js}"></script>
<script th:src="@{/js/login.js}"></script>
</body>
</html>